
/* Table */
table.display {
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	clear: both;
	font: 10pt Arial;
	margin: 0px auto;
	width: 100%;
}

/* Head */
table.display thead th {
	background: url(http://image.sc2calc.org/th.png) repeat-x top;
	border-right: 1px solid #cbcbcb;
	cursor: pointer;
	font-weight: normal;
	padding: 3px 18px 3px 10px;
}
table.display thead th.sorting_asc {
	background: url(http://image.sc2calc.org/th-highlight.png) repeat-x top;
}
 
table.display thead th.sorting_desc {
	background: url(http://image.sc2calc.org/th-highlight.png) repeat-x top;
}

/* Row */
table.display tr.odd {
	background-color: white;
} 
table.display tr.even {
	background-color: #edf5ff;
}
table.display tr.odd td.sorting_1 {
	background-color: #edf5ff;
} 
table.display tr.even td.sorting_1 {
	background-color: #dbeaff;
}

/* Cell */
table.display td {
	border-right: 1px solid #cbcbcb;
	border-top: 1px solid #cbcbcb;
	padding: 2px 10px;
}
table.display td.center {
	text-align: center;
}
table.display tr.first td {
	border-top: 1px solid #7f7f7f;
}
